@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 91%;
    left: 89%;
    animation-duration: 16s;
    animation-delay: -27s;
    transform-origin: -1vw 21vh;
    box-shadow: -40vmin 0 5.903039035312773vmin currentColor;
}

.background span:nth-child(1) {
    color: #FFACAC;
    top: 13%;
    left: 49%;
    animation-duration: 28s;
    animation-delay: -21s;
    transform-origin: -2vw 1vh;
    box-shadow: -40vmin 0 5.046725153087755vmin currentColor;
}

.background span:nth-child(2) {
    color: #583C87;
    top: 11%;
    left: 17%;
    animation-duration: 55s;
    animation-delay: -36s;
    transform-origin: -13vw 20vh;
    box-shadow: -40vmin 0 5.778002512880199vmin currentColor;
}

.background span:nth-child(3) {
    color: #E45A84;
    top: 56%;
    left: 68%;
    animation-duration: 24s;
    animation-delay: -13s;
    transform-origin: 23vw 18vh;
    box-shadow: -40vmin 0 5.593619428972756vmin currentColor;
}

.background span:nth-child(4) {
    color: #E45A84;
    top: 25%;
    left: 24%;
    animation-duration: 45s;
    animation-delay: -37s;
    transform-origin: 2vw 22vh;
    box-shadow: -40vmin 0 5.034040615742315vmin currentColor;
}

.background span:nth-child(5) {
    color: #FFACAC;
    top: 79%;
    left: 61%;
    animation-duration: 15s;
    animation-delay: -13s;
    transform-origin: -13vw 24vh;
    box-shadow: -40vmin 0 5.294279161830523vmin currentColor;
}

.background span:nth-child(6) {
    color: #E45A84;
    top: 19%;
    left: 60%;
    animation-duration: 13s;
    animation-delay: -19s;
    transform-origin: 20vw 1vh;
    box-shadow: -40vmin 0 5.246879501311301vmin currentColor;
}

.background span:nth-child(7) {
    color: #E45A84;
    top: 96%;
    left: 94%;
    animation-duration: 23s;
    animation-delay: -31s;
    transform-origin: -16vw 24vh;
    box-shadow: 40vmin 0 5.202729689182686vmin currentColor;
}

.background span:nth-child(8) {
    color: #583C87;
    top: 87%;
    left: 22%;
    animation-duration: 52s;
    animation-delay: -44s;
    transform-origin: -11vw 19vh;
    box-shadow: 40vmin 0 5.033623286759326vmin currentColor;
}

.background span:nth-child(9) {
    color: #583C87;
    top: 97%;
    left: 57%;
    animation-duration: 37s;
    animation-delay: -38s;
    transform-origin: 18vw -18vh;
    box-shadow: 40vmin 0 5.35946651315307vmin currentColor;
}

.background span:nth-child(10) {
    color: #FFACAC;
    top: 91%;
    left: 39%;
    animation-duration: 18s;
    animation-delay: -30s;
    transform-origin: -22vw 10vh;
    box-shadow: 40vmin 0 5.419092514015799vmin currentColor;
}

.background span:nth-child(11) {
    color: #FFACAC;
    top: 96%;
    left: 67%;
    animation-duration: 27s;
    animation-delay: -44s;
    transform-origin: 20vw 24vh;
    box-shadow: -40vmin 0 5.787765725291213vmin currentColor;
}

.background span:nth-child(12) {
    color: #E45A84;
    top: 26%;
    left: 44%;
    animation-duration: 26s;
    animation-delay: -18s;
    transform-origin: 20vw 12vh;
    box-shadow: 40vmin 0 5.988869267099296vmin currentColor;
}

.background span:nth-child(13) {
    color: #FFACAC;
    top: 47%;
    left: 74%;
    animation-duration: 50s;
    animation-delay: -33s;
    transform-origin: -6vw -13vh;
    box-shadow: 40vmin 0 5.934985701787098vmin currentColor;
}

.background span:nth-child(14) {
    color: #FFACAC;
    top: 89%;
    left: 60%;
    animation-duration: 29s;
    animation-delay: -47s;
    transform-origin: 25vw 24vh;
    box-shadow: -40vmin 0 5.340824407606016vmin currentColor;
}

.background span:nth-child(15) {
    color: #583C87;
    top: 41%;
    left: 100%;
    animation-duration: 15s;
    animation-delay: -3s;
    transform-origin: 5vw -4vh;
    box-shadow: 40vmin 0 5.858810681588654vmin currentColor;
}

.background span:nth-child(16) {
    color: #583C87;
    top: 69%;
    left: 34%;
    animation-duration: 38s;
    animation-delay: -25s;
    transform-origin: -14vw -21vh;
    box-shadow: -40vmin 0 5.533310733091536vmin currentColor;
}

.background span:nth-child(17) {
    color: #FFACAC;
    top: 96%;
    left: 84%;
    animation-duration: 7s;
    animation-delay: -40s;
    transform-origin: 22vw -3vh;
    box-shadow: 40vmin 0 5.320616819731077vmin currentColor;
}

.background span:nth-child(18) {
    color: #FFACAC;
    top: 98%;
    left: 8%;
    animation-duration: 38s;
    animation-delay: -12s;
    transform-origin: 15vw 5vh;
    box-shadow: -40vmin 0 5.912943332268577vmin currentColor;
}

.background span:nth-child(19) {
    color: #583C87;
    top: 56%;
    left: 53%;
    animation-duration: 32s;
    animation-delay: -48s;
    transform-origin: 23vw 23vh;
    box-shadow: 40vmin 0 5.189170383756409vmin currentColor;
}